<div class="content-wrapper">
  <section class="content">
    <div class="row" ng-show="true">
      <section class="col-md-12">
        <div class="panel panel-default">
          <div class="panel-heading">
            <div>Create a new site</div>
          </div>
          <div class="panel-body">
            <form name="createSiteForm" novalidate>
              <div class="form-group">
                <label>Display name:</label>
                <input class="form-control" ng-model="$ctrl.displayName" type="text" name="display_name" required>
              </div>
              <div class="form-group">
                <label>First user email:</label>
                <input class="form-control" ng-model="$ctrl.ownerEmail" type="text" name="owner_email" required>
              </div>
              <button class='btn btn-primary' ng-disabled="!createSiteForm.$valid" ng-click="$ctrl.handleSave()">
                Create site
              </button>
              <button ng-show="!isDirty()" class='btn btn-default' ng-click="$ctrl.handleCancel()">Cancel</button>
              <button ng-show="isDirty()"
                      class="btn btn-warning"
                      ng-really-click="$ctrl.handleCancel()"
                      ng-really-message="Do you really want to cancel your changes?">Cancel
              </button>
            </form>
          </div>
        </div>
      </section>
    </div> <!-- end row -->
  </section>
</div>
